* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #DC0A2D;
    text-align: center;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #DEDEDE;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}